################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MonirulArefin_MaterialTheme_FullPortfolio/FileContentIndex
